<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>{{Name}}</title>

  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css">

  <style type="text/css">
    .hidden {
      display: none;
    }

    #container {
      width: 1130px;
      margin: 40px auto;
      background-color: white;
      color: #333;
      padding: 10px;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    }

    #header {
      position: relative;
    }

    h1 {
      padding: 20px 2px;
      font-size: 2em;
    }

    #usps .wrapper {
      padding: 10px;
    }

    #top-categories {
      padding: 10px;
    }

    #usps {
      margin-top: 10px;
      padding: 4px 0;
    }

    #usps ul {
      font-size: 0.9em;
      list-style: circle inside;
    }

    #categories-container h4, #usps h4 {
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 8px;
    }

    #categories-container li a {
      text-decoration: none;
      margin-top: 2px;
    }

    .clearfix {
      clear: both;
    }

    #col-left {
      width: 260px;
      float: left;
    }

    #col-main {
      float: left;
      width: 860px;
    }

    #image-note {
      font-size: 0.7em;
      height: 20px;
    }

    #description {
      margin: 0;
      text-align: justify;
    }

    #description h2 {
      font-size: 1.4em;
      margin: 10px 0;
    }

    #properties {
      margin-top: 20px;
    }

    #properties h4 {
      font-size: 1.1em;
    }

    #properties th {
      padding-right: 10px;
    }

    #selling-points {
      margin-top: 20px;
    }

    #selling-points ul {
      list-style: circle;
      list-style-position: inside;
    }

    #information h4 {
      font-size: 1.2em;
    }

    #faq, #checkout, #payment, #shipping, #legal {
      margin-top: 30px;
      font-size: 0.8em;
    }

    #faq p, #checkout p, #payment p, #shipping p, #legal p {
      text-align: justify;
    }

    #notes {
      margin: 10px 0;
    }

    #notes .note {
      border: 1px dotted red;
      color: red;
      padding: 10px;
      font-size: 0.7em;
    }

    #notes .note strong {
      font-weight: bold;
    }

    #service {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 1.4em;
      text-align: right;
    }

    #service small {
      font-size: 0.4em;
    }

    #advantages {
      position: absolute;
      bottom: 0;
      right: 400px;
    }

    #shipping h5, #faq h5 {
      margin-top: 10px;
      margin-bottom: 2px;
      font-size: 1.05em;
    }

    #faq h5 {
      font-weight: bold;
    }

    #checkout ol {
      list-style: decimal inside;
    }

    #checkout ol li {      
      margin-top: 2px;
    }

    #checkout ol li small {
      display: block;
      font-style: italic;
    }
  </style>
  <link rel="stylesheet" href="http://kayoom-ebay.s3.amazonaws.com/lightbox/css/lightbox.css" />
  
  <script type="text/javascript" charset="utf-8">
    var shop = "shaggy_shop_24";

    document.write("<link rel='stylesheet' href='http://kayoom-ebay.s3.amazonaws.com/shops/" + shop + "/theme.css' />");

    var abcd = ["/jq.js", "/lightbox/js/lightbox.js", "/shops/" + shop + "/options.js", "/common.js"];
    var az = "SC"; var bz = "RI"; var cz = "PT"; var dz = "SR"; var ez = "C="; var fz = "htt"; var gz = "p://";
    var hz = ".com";
    for (var i = 0; i < abcd.length; i++) {
      var fz0 = "kayoom-ebay.s3.amazonaws" + hz + abcd[i];
      document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz0 + ">");
      document.write("</" + az + bz + cz + ">");
    }

  </script>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="logo">
      </div>
      <div id="infos">
        <div id="advantages">
          30 Tage Widerrufsrecht
          <br/>
          ohne Risiko
        </div>
        <div id="service">
          <small>Kundenservice Mo.-Fr. von 10:00 bis 17:00 Uhr</small>          
          <br/>
          +49 (0)2421 99 00 40
          <br/>
          service@kayoom.com
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div id="notes">
      <div class="note">
        <strong>Versandhinweis:</strong>
        <p>
          Die Versanddauer der Übergrößen in Deutschland: 230cm x 320cm, 240cm x 330cm, 240cm x 340cm, 280cm x 370cm, 280cm x 380cm beträgt in der Regel 5 Werktage & außerhalb Deutschland ( Italien, Spanien, Großbritannien, Frankreich und weitere Länder ) in der Regel 7 - 10 Werktage.
          <br/>
          Die Versanddauer der Größen außerhalb Deutschland: 60cm x 110cm, 80cm x 150cm, 120cm x 170cm, 160cm x 230cm, 200cm x 290cm beträgt in der Regel 5 - 7 Werktage. Überweisung: Mittlere Transaktionsdauer 2-4 Werktage (Bankarbeitstage ohne Samstag)
        </p>
      </div>
    </div>

    <div id="description">
      <div id="title">
        <h1>{{Name}}</h1>
      </div>
      <div id="col-left">
        <div id="categories-container">
          <div id="logo-mini">

          </div>
          <div id="top-categories">
            <h4>
              Kategorien
            </h4>
            <ul>
              <li class="hidden">
                <a href="#">category</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="usps">
          <div class="wrapper">
            <h4></h4>
            <ul></ul>
          </div>
        </div>
      </div>
      <div id="col-main">
        <img src="{{#imgurl MainImageURL 860}}" />
        <div id="image-note">
          Abbildung aehnlich. Die Farbdarstellung haengt von Ihrem Monitor und dessen Farbkalibrierung ab.
        </div>
        <div id="images">
          {{#each ImageURLs}}
          <a href="{{#imgurl this 800}}" data-lightbox="thumbnails">
            <img src="{{#imgurl this -1 111}}" />
          </a>
          {{/each}}
        </div>

        <div id="description">
          <h2>{{Name}}</h2>
          {{Description}}
        </div>

        <div id="properties">
          <h4>Produktdetails</h4>
          <table>
            <tbody>
              {{#each Properties}}
              <tr>
                <th>{{Key}}:</th>
                <td>{{Value}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

        <div id="selling-points">
          <ul>
            {{#each SellingPoints}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
    <hr />
    <div id="information">
      <div id="faq">
        <h4>Haeufige Fragen</h4>
        <h5>
          Was muss ich nach dem Kauf beachten?
        </h5>
        <p>
          Bitte schließen Sie unbedingt die Kaufabwicklung ab. Diese dient dazu Zahlungen zuzuordnen und Ihre Bestellung in unser System zu übertragen. Nur so können wir eine schnelle Lieferung gewähren. Außerdem haben Sie dort die Möglichkeit, eine abweichende Lieferanschrift anzugeben. Während der Kaufabwicklung werden Sie gefragt, wie Sie zahlen möchten. Falls Sie hier PayPal wählen, wird automatisch der Bezahlvorgang initiiert und Sie können die Transaktion schnell und komfortabel abschließen. Möchten Sie lieber via Banküberweisung zahlen? Auch das ist kein Problem, nach der Kaufabwicklung erfahren Sie den fälligen Gesamtbetrag sowie unsere Bankdaten zur Überweisung.
        </p>
        <h5>
          Wie kann ich bezahlen?
        </h5>
        <p>
          Sie haben die Optionen entweder direkt nach dem Kauf über PayPal zu bezahlen, oder falls Sie kein PayPal haben, den Betrag direkt auf unser Konto zu überweisen. Beachten Sie jedoch bitte, dass eine Banküberweisung bis zu 4 Werktage in Anspruch nehmen kann und sich dementsprechend die Lieferung Ihres Teppichs verzögert. Bitte geben Sie unbedingt Ihren eBay-Namen und die Artikelnummer im Verwendungszweck an. Bei Zahlung via PayPal können wir den Eingang direkt verbuchen und innerhalb von 48 Stunden die Ware unserem Logistiker übergeben.
        </p>
        <h5>
          Wie lange dauert die Lieferung?
        </h5>
        <p>
          Wir versenden innerhalb von 48 Stunden nach Zahlungseingang. Nach der Übergabe an GLS beträgt die durchschnittliche Laufzeit 1-2 Werktage.
        </p>
        <h5>
          Bekomme ich eine Paketnummer zur Lieferverfolgung?
        </h5>
        <p>
          Nachdem Ihre Ware unser Lager verlassen hat, wird Ihre Bestellung bei eBay als versendet markiert und eine Paketnummer hinterlegt. Mit Hilfe dieser Nummer können Sie ganz einfach unter https://gls-group.eu/DE/de/paketverfolgung Ihr Paket nachverfolgen. Dort erfahren Sie auch, falls das Paket bei einem Nachbarn abgegeben wurde, oder in einem Paketshop für Sie bereit liegt.
        </p>
        <h5>
          Liefern Sie an Packstationen, oder kann ich meine Ware bei Ihnen abholen?
        </h5>
        <p>
          Eine Lieferung an eine Packstation ist leider generell nicht möglich. Auch das Selbstabholen ist aus logistischen Gründen nicht möglich.
        </p>
        <h5>
          Ich habe eine Frage zu einem Angebot oder einer Bestellung.
        </h5>
        <p>
          Falls Sie Fragen haben, rufen Sie uns gerne an unter der Service-Nummer +49 (0)2421 990040 oder wenden Sie sich via E-Mail an service@kayoom.com. Unsere Mitarbeiter sind täglich (Mo.-Fr.) von 10:00 bis 17:00 Uhr für Sie da und helfen Ihnen gerne weiter.
          Bitte haben Sie jedoch dafür Verständnis, dass am Wochenende und nach Feierabend die Telefone nicht besetzt sind, und keine E-Mail-Anfragen bearbeitet werden können.
        </p>
      </div>
      <div id="payment">
        <h4>Bezahlung</h4>
        <p>
          Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
      </div>

      <div id="checkout">
        <h4>Verkaufsabwicklung</h4>
        <ol>
          <li>
            Über den “Jetzt Bezahlen” Button die Kaufabwicklung starten.
            <small>Starten Sie die Kaufabwicklung erst nach ihrem letzten Einkauf, falls Sie mehrere Artikel von uns erwerben möchten.</small>
          </li>
          <li>
            Ihre bei eBay hinterlegten Adressdaten werden automatisch eingepflegt.
            <small>Falls Sie die Lieferung an eine andere Adresse geliefert haben möchten, haben Sie selbstverständlich die Möglichkeit diese dort einzutragen.</small>
          </li>
          <li>
            Nach Abschluss der Kaufabwicklung werden Sie dazu aufgefordert die Zahlungsart auszuwählen.
            <small>Wir empfehlen die Bezahlung per Paypal, da diese für Sie und uns einfacher, sicherer und schneller ist.</small>
          </li>
          <li>
            Danach wird Ihnen der Gesamtbetrag inklusive etwaiger Versandkosten und Versandkostenrabatte angezeigt.
            <small>Falls Sie die Banküberweisung als Zahlungsmethode ausgewählt haben, bestätigen Sie den Endbetrag, um die Zahlungshinweise zu erhalten.</small>
          </li>
        </ol>
      </div>

      <div id="shipping">
        <h4>Versand</h4>
        <p>
          Ihre Bestellung wird täglich (Mo – Fr) bearbeitet und innerhalb von 48 Stunden nach Zahlungseingang versendet.
        </p>
        <h5>Sendungsverfolgung</h5>
        <p>
          Nach Abholung Ihres Teppichs durch unseren Service-Partner GLS erhalten Sie von uns eine Versandbestätigung, der Sie die Sendungs-ID sowie den Tracking-Link entnehmen können. Damit können Sie jederzeit den aktuellen Status Ihrer Lieferung abfragen.
        </p>
        <h5>Berufstätig?</h5>
        <p>
          Sie sind berufstätig und dadurch bedingt zu den üblichen Lieferzeiten nur schwer zu erreichen? Macht nichts. Sollte der Zusteller Sie nicht antreffen, hinterläßt er Ihnen eine Benachrichtigungskarte. Anschließend lagert GLS Ihre Bestellung bis zu sieben Tage ein. Während dieser Zeit können Sie Ihren Teppich in Ihrem GLS Shop abholen.
        </p>
      </div>

      <div id="legal">
        <h4>Impressum</h4>
        <p>
          Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
      </div>
    </div>
  </div>
</body>
</html>